{% extends "layout.html" %}

{% block body %}

<div>
  <a href="/">
      <button type="button">Back</button>
  </a>
</div>
<button onclick="copyBibtex()">Copy BibTeX</button>
<br /><br />
<script>
  function copyBibtex() {
      const text = document.getElementById("bibtex_output").innerText;
      navigator.clipboard.writeText(text);
  }
</script>

<div>
  <div id="bibtex_output">
    {% if bibtex_results %}
      {% for bibtex in bibtex_results %}
        <pre>{{ bibtex }}</pre>
      {% endfor %}  
    {% else %}
      <p>No citations for selected tags</p>
    {% endif %}
  </div>

</div>

{% endblock %}