{% extends "layout.html" %}

{% block title %}
Edit citation
{% endblock %}

{% block body %}

<h2>Edit citation</h2>

<style>
.hidden { display: none; }
</style>

{% if citation.type == "book" %}
    <form action="/edit_book_citation/{{ citation.id }}" method="post" id="{{ citation.id }}" class="{% if citation.type == 'book' %}{% else %}hidden{% endif %}">
        <p>
            <label for="title">The title of the book:</label>
            <input type="text" name="title" id="title" maxlength="75" value="{{ citation.title }}">
        </p>
        <p>
            <label for="author">The author(s) of the book:</label>
            <input type="text" name="author" id="author" maxlength="75" value="{{ citation.author }}">
        </p>
        <p>
            <label for="publisher">The publisher of the book:</label>
            <input type="text" name="publisher" id="publisher" maxlength="50" value="{{ citation.publisher }}">
        </p>
        <p>
            <label for="isbn">ISBN of the book:</label>
            <input type="text" name="isbn" id="isbn" maxlength="20" value="{{ citation.isbn }}">
        </p>
        <p>
            <label for="year">The year the book was published:</label>
            <input type="number" name="year" id="year" min="0" max="2025" value="{{ citation.year }}">
        </p>
        <button type="submit" id="submit_button" >Edit</button>
    </form>


{%elif citation.type == "inproceedings"%}
    <form action="/edit_inproceedings_citation/{{citation.id}}" method="post" id="{{ citation.id }}" class="{% if citation.type == 'inproceedings' %}{% else %}hidden{% endif %}">
      <p>
        <label for="title">The title of the paper:</label>
        <input type="text" name="title" id="title" maxlength="75" value="{{ citation.title }}">
      </p>
      <p>
        <label for="author">The author(s) of the paper:</label>
        <input type="text" name="author" id="author" value="{{ citation.author }}">
      </p>
      <p>
        <label for="booktitle">The title of the conference proceedings:</label>
        <input type="text" name="booktitle" id="booktitle" maxlength="100" value="{{ citation.booktitle }}">
      </p>
      <p>
        <label for="year">The year the conference proceedings were published:</label>
        <input type="number" name="year" id="year" min="0" max="2025" value="{{ citation.year }}">
      </p>
      <button type="submit" id="submit_button" >Edit</button>
  </form>

{% elif citation.type == "article" %}
    <form action="/edit_article_citation/{{citation.id}}" method="post" id="{{ citation.id }}" class="{% if citation.type == 'article' %}{% else %}hidden{% endif %}">

        <p>
            <label for="title">The title of the article:</label>
            <input type="text" name="title" id="title" maxlength="75" value="{{ citation.title }}">
        </p>
        <p>
            <label for="author">The name(s) of the author(s) of the article:</label>
            <input type="text" name="author" id="author" value="{{ citation.author }}">
        </p>
        <p>
            <label for="journal">The name of the journal, magazine, or newspaper in which the article was published:</label>
            <input type="text" name="journal" id="journal" value="{{ citation.journal }}">
        </p>
        <p>
            <label for="year">The year of publication:</label>
            <input type="number" name="year" id="year" min="0" max="2025" value="{{ citation.year }}">
      </p>
      <button type="submit" id="submit_button" >Edit</button>
  </form>
{% endif %}

{% endblock %}