{% extends "layout.html" %}

{% block title %}
citation app
{% endblock %}

{% block body %}

<h2>citation app</h2>

<div>
  <a href="/new_citation">Create new citation</a>
</div>

{% if book_citations %}
  <h3>Added citations:</h3>
  <form action="/delete_citations" method="post">
    {% for id, type, title, author, publisher, isbn, year in book_citations %}
      <li class="citation">
        {{ author }}. <em>{{ title }}.</em> {{ publisher }}, {{ year }}. ISBN: {{ isbn }}
        <input type="checkbox" name="citation_id" value="{{ id }}">
      </li>
    {% endfor %}
    <input type="submit" value="Delete selected citations">
  </form>
{% endif %}

{% endblock %}