{% extends "layout.html" %}

{% block title %}
citation app
{% endblock %}

{% block body %}

<h2>citation app</h2>

{% if book_citations %}
<h3>Added citations:</h3>
  <ul>
  {% for citation in book_citations %}

  {% if citation.type == 'book' %}
    <li>
      Type: {{ citation.type }} <br>
      {{ citation.author }}. <em>{{ citation.title }}.</em> {{ citation.publisher }}, {{ citation.year }}. ISBN {{ citation.isbn }}
    </li>
  
  {% elif citation.type == 'inproceedings' %}
    <li>
      Type: {{ citation.type }} <br>
      {{ citation.author }}. <em>{{ citation.title }}.</em> {{ citation.booktitle }}, {{ citation.year }}.
    </li>

  {% elif citation.type == 'article' %}
    <li>
      Type: {{ citation.type }} <br>
      {{ citation.author }}. <em>{{ citation.title }}.</em> {{ citation.journal }}, {{ citation.year }}.
    </li>
  {% endif %}

  {% endfor %}
  </ul>
{% endif %}
<div>
  <a href="/new_citation">Create new citation</a>
</div>

{% endblock %}