{% extends "layout.html" %}

{% block title %}
Create a new citation
{% endblock %}

{% block body %}

<h2>Create a new citation</h2>

{% for message in get_flashed_messages() %}
<p>
  {{ message }}
</p>
{% endfor %}

<style>
.hidden { display: none; }
</style>

    <label for="choice">Citation type:</label>
    <select id="choice" name="citation_type">
        <option value="">-Choose-</option>
        <option value="book">Book</option>
        <option value="inproceedings">Inproceedings</option>
        <option value="article">Article</option>
    </select> <a href="/"><button type="button">Return to frontpage</button></a> 
    <br>

<form action="/create_book_citation" method="post" id="book" class="hidden">
      <p>
        <label for="title">Title*</label>
        <input title="The title of the book" type="text" name="title" id="title" maxlength="75">
      </p>
      <p>
        <label for="author">Author(s)*</label>
        <input title="The author(s) of the book" type="text" name="author" id="author" maxlength="75">
      </p>
      <p>
        <label for="publisher">Publisher*</label>
        <input title="The publisher of the book" type="text" name="publisher" id="publisher" maxlength="50">
      </p>
      <p>
        <label for="isbn">ISBN*</label>
        <input title="ISBN of the book" type="text" name="isbn" id="isbn" maxlength="20">
      </p>
      <p>
        <label for="year">Year*</label>
        <input title="The year the book was published" type="number" name="year" id="year" min="0" max="2025">
      </p>
      <p>
        <label for="tags">Tags</label>
        <input title="Tags separated with a comma (optional)" type="text" name="tags" id="book_tags">
      </p>
      <button type="submit" id="submit_button" >Create</button>
</form>
<form action="/create_inproceedings_citation" method="post" id="inproceedings" class="hidden">
      <p>
        <label for="title">Paper*</label>
        <input title="The title of the paper" type="text" name="title" id="title" maxlength="75">
      </p>
      <p>
        <label for="author">Author(s)*</label>
        <input title="The author(s) of the paper" type="text" name="author" id="author">
      </p>
      <p>
        <label for="booktitle">Conference*</label>
        <input title="The title of the conference proceedings" type="text" name="booktitle" id="booktitle" maxlength="100">
      </p>
      <p>
        <label for="year">Year*</label>
        <input title="The year the conference proceedings were published" type="number" name="year" id="year" min="0" max="2025">
      </p>
      <p>
        <label for="tags">Tags</label>
        <input title="Tags separated with a comma (optional)" type="text" name="tags" id="inproceedings_tags">
      </p>
      <button type="submit" id="submit_button" >Create</button>
  </form>
<form action="/create_article_citation" method="post" id="article" class="hidden">
      <p>
        <label for="title">Title*</label>
        <input title="The title of the article" type="text" name="title" id="title" maxlength="75">
      </p>
      <p>
        <label for="author">Author(s)*</label>
        <input title="The name(s) of the author(s) of the article" type="text" name="author" id="author">
      </p>
      <p>
        <label for="journal">Journal*</label>
        <input title="The name of the journal, magazine, or newspaper in which the article was published" type="text" name="journal" id="journal">
      </p>
      <p>
        <label for="year">Year*</label>
        <input title="The year of publication" type="number" name="year" id="year" min="0" max="2025">
      </p>
      <p>
        <label for="tags">Tags</label>
        <input title="Tags separated with a comma (optional)" type="text" name="tags" id="article_tags">
      </p>
      <button type="submit" id="submit_button" >Create</button>
  </form>


</form>

<script>
    const valinta = document.getElementById("choice");
    const book = document.getElementById("book");
    const inproceedings = document.getElementById("inproceedings");
    const article =document.getElementById("article");

    valinta.addEventListener("change", function() {
        if (this.value === "book") {
          book.classList.remove("hidden");
          inproceedings.classList.add("hidden");
          article.classList.add("hidden");
        }
        else if (this.value === "inproceedings") {
          book.classList.add("hidden");
          inproceedings.classList.remove("hidden");
          article.classList.add("hidden")
        }
        else if (this.value === "article") {
          book.classList.add("hidden");
          inproceedings.classList.add("hidden");
          article.classList.remove("hidden");
        }
        else {
          book.classList.add("hidden");
          inproceedings.classList.add("hidden");
          article.classList.add("hidden");
        }
    });
</script>

{% endblock %}